{% extends 'base.html.twig' %}

{% block body %}
<h1>USER</h1>

    {{ form_start(search_form) }}
    {{ form_row(search_form.user) }}
    {{ form_row(search_form.card) }}

<button type="submit"> Rechercher </button>
    {{ form_end(search_form) }}

<table class="table">

    <tr>
        <th>Joueurs</th>
        <th>Cartes</th>
    </tr>
    
    {% for user in users %}
    <tr>
        <td>{{ user.user }}</td>
        <td>{{ user.card }}</td>
    </tr>
    
</table>
{% endblock %}

{% block title %}

{% endblock %}

