{% extends 'base.html.twig' %}



{% block body %}
{{ form_start(form) }}
    {{ form_row(form.codeCenter,{'attr': {'id': 'codeCenter'}}) }}
    {{ form_row(form.codeCard, {'attr': {'id': 'codeCard'}}) }}
    {{ form_row(form.checksum, {'attr': {'id': 'checkSum'}}) }}
    {{ form_end(form) }}


    <table class="table">
        <tr>
        <th></th>
        <th></th>
        <th></th>
        <th width="250px"></th>
        </tr>

        {% for users in user %}

            <tr>
                <td>{{ user. }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascript %}

{% endblock %}