<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title>{% block title %}The Best Laser Game{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('lib/bulma/bulma.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
    {% endblock %}

</head>

<body>

<div class="container">

    {% for type, messages in app.session.flashBag.all %}

        {% for message in messages %}

            {% if type == 'error' %}

                {% set type = 'danger' %}

            {% endif %}

            <div class="alert alert-{{ type }} mt-2">

                {{ message|raw }}

            </div>

        {% endfor %}
    {% endfor %}
    
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a id="navbar-burger-id" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-menu-id" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Le jeux
            </a>

            <a class="navbar-item">
                Forum
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Plus
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="">
                        Formule
                    </a>
                    <a class="navbar-item">
                        Actualité
                    </a>
                    <a class="navbar-item"  href="{{ path('app_connexion_index') }}">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{{ path('app_registration_register') }}">

                        <strong>Inscription</strong>
                    </a>
                    <a class="button is-light">
                        Connexion
                    </a>
                    <span class="icon is-medium">
                        <a href="#" title="Aide">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>


    {% block body %}{% endblock %}

</div>



{% block javascripts %}

    <script

            src="https://code.jquery.com/jquery-3.4.1.min.js"

            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="

            crossorigin="anonymous"></script>

    <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>

    <script src="https://code.jquery.com/jquery.min.js"></script>

{% endblock %}

</body>

</html>




