<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title>{% block title %}The Best Laser Game{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('lib/bulma/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
        <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
        <link rel="icon" href="image/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>


    {% endblock %}


</head>

<body style="background-attachment:fixed" background="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/1-meteor.jpg">

<div class="container" id="nav-container">

    {% for type, messages in app.session.flashBag.all %}

        {% for message in messages %}

            {% if type == 'error' %}

                {% set type = 'danger' %}

                {% endif %}

            <div class="box alert alert-{{ type }} mt-2 example-wrapper" style="color: green;">
                    <div style="text-align: center;">

                        {{ message|raw }}
                    </div>


            </div>

        {% endfor %}
    {% endfor %}
    
<nav class="navbar is-light" role="navigation" aria-label="main navigation" >

    <div class="navbar-brand">
        <a class="navbar-item" style="margin-left: 20px" href="{{ path('app_index_index') }}">
           SHINIGAMI LASER
        </a>

        <a id="navbar-burger-id" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu-id" aria-controls="dropdown-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>


    </div>

    <div id="navbar-menu-id" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" style="margin-right: 10px" href="{{ path('app_gamepage_index') }}">
                Règles
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" style="margin-right: 10px">
                    Plus
                </a>


                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{ path('app_game_index') }}">
                        Les jeux
                    </a>
                    <a class="navbar-item">
                        Actualité
                    </a>
                    <a class="navbar-item" href="{{ path('app_contact_index') }}">
                        Contact
                    </a>

                </div>
            </div>
            <a class="navbar-item" href="{{ path('app_api_index') }}">
                Nos joueurs
            </a>
        </div>


        {% if is_granted('ROLE_ADMIN')  %}
        <div class="navbar-start">
            <div class="navbar-start">
                <a class="navbar-item" style="margin-right: 10px" href="{{ path('app_admin_card_index') }}">
                    Gestion des cartes et des joueurs
                </a>

            </div>
            {% endif %}





        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">

                    {% if is_granted('ROLE_ADMIN')  %}
                        <a class="button is-rounded is-primary is-focused" style="margin-right: 10px" href="{{ path('app_admin_player_edit') }}">
                            <strong>Ajouter un joueur</strong>
                        </a>
                    {% endif %}




                    {% if is_granted('ROLE_ADMIN')  %}
                        <a class="button is-rounded is-primary is-outlined" style="margin-right: 10px" href="{{ path('app_admin_player_index') }}">
                            <strong>Liste des joueurs</strong>
                        </a>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false  %}
                    <a class="button is-rounded is-primary is-focused" style="margin-right: 10px" href="{{ path('app_registration_register') }}">
                        <strong>Inscription</strong>
                    </a>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false  %}
                    <a class="button is-rounded is-primary is-outlined" style="margin-right: 10px" href="{{ path('app_login') }}">
                        Connexion
                    </a>
                    {% endif %}


                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <p style="margin-right: 5px"> Bonjour  {{ app.user }}  </p>
                    <span class="icon is-medium">
                        <a href="{{ path('app_connexion_logout') }}" style="margin-right: 10px" title="Déconnexion">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </span>
                    {% endif %}


                    <span class="icon is-medium">
                        <a href="#" style="margin-right: 10px" title="Aide">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
        </div>
        </nav>
</div>


    {% block body %}

    {% endblock %}



{% block javascripts %}


    <script

            src="https://code.jquery.com/jquery-3.4.1.min.js"

            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="

            crossorigin="anonymous"></script>

    <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script>
            (function() {
            var burger=document.querySelector('.burger');
            var nav=document.querySelector('#'+burger.dataset.target);

            burger.addEventListener('click', function(){
             burger.classList.toggle('is-active');
             nav.classList.toggle('is-active');
             });
            })();
            </script>

{% endblock %}

</body>

</html>




