{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

    <h1>Modifier mes infos</h1>

    {{ form_start(form) }}
        <div class="columns">
            <div class="field column">
                <div class="control"></div>

                {{ form_row(form.lastname) }}
            </div>

            <div class="field column">
                <div class="control">

                    {{ form_row(form.firstname) }}
                </div>
            </div>
        </div>

        <div class="columns">

            <div class="field column">
                <div class="control"></div>
                {{ form_row(form.email) }}

            </div>

            <div class="field column">
                <div class="control"></div>

                {{ form_row(form.phone) }}

            </div>
        </div>

        <h5 class="title is-5" style="color: white;">Date de naissance</h5>
        <div class="field">

            <div class="control"></div>
            {{ form_row(form.birthdate) }}

        </div>
        <div class="columns">
            <div class="field column">
                <div class="control">

                    {{ form_row(form.password) }}
                </div>
            </div>
            <div class="field column">
                <div class="control">

                    {{ form_row(form.password) }}
                </div>
            </div>
        </div>
        <br>

        <h4 class="title is-4" style="color: white;">Adresse postale</h4>

        <div class="field">
            <div class="control">

                {{ form_row(form.streetNumber) }}
            </div>
        </div>

        <div class="field">
            <div class="control">

                {{ form_row(form.streetName) }}
            </div>
        </div>

        <div class="field">
            <div class="control">

                {{ form_row(form.zip) }}
            </div>
        </div>

        <div class="field">
            <div class="control">

                {{ form_row(form.city) }}
            </div>
        </div>

        <div class="field">
            <div class="control">

                {{ form_row(form.country) }}
            </div>
        </div>

        <br>

        <div class="control" style="text-align: right">
            <button class="button is-primary" type="submit">
                Enregistrer
            </button>
        </div>


    {{ form_end(form) }}

    </div>
{% endblock %}



