{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}



    <div class="example-wrapper">
<table class="table">
        <tr>
            <th>score</th>
            <th>victory</th>
            <th>date</th>
            <th width="250px"></th>
        </tr>
            <tr>
                <td> ------</td>
                <td> ------</td>
                <td> ------</td>
                <td>
    </table><br/>

                    <a href="{{ path('requestcard') }}"
                       class="button is-info">
                         Demander une carte !
                    </a>
                    <a href="{{ path('requestcardactive') }}"
                       class="button is-danger">
                        Activer la carte !
                    </a>
                </td>

            </tr>


{% if is_granted('ROLE_ADMIN')  %}


    <h1>Utilisateurs</h1>

    <a href="{{ path('app_user_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un utilisateur
    </a>

    <a href="{{ path('search_user') }}"
       class="btn btn-outline-primary mb-3">
        Rechercher
    </a>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Numéro</th>
            <th>Rue</th>
            <th>Code postal</th>
            <th>Ville</th>
            <th>Pays</th>
            <th width="250px"></th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.streetNumber }}</td>
                <td>{{ user.streetName }}</td>
                <td>{{ user.zip }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.country }}</td>
                <td>



                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"
                       class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('app_user_delete', {'id': user.id}) }}"
                       class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">
                    Aucun résultat
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
    </div>
{% endblock %}
