{% extends 'base.html.twig' %}

{% block title %}Hello AddressController!{% endblock %}

{% block body %}
    <h1>Adresses</h1>

    <a href="{{ path('app_address_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter une adresse
    </a>

    <table class="table">
        <tr>
            <th>Numéro</th>
            <th>Rue</th>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Pays</th>
            <th width="250px"></th>
        </tr>
        {% for add in address %}
            <tr>
                <td>{{ add.number }}</td>
                <td>{{ add.street }}</td>
                <td>{{ add.city }}</td>
                <td>{{ add.zip }}</td>
                <td>{{ add.country }}</td>

                <td>

                    <a href="{{ path('app_address_edit', {'id': add.id}) }}"
                       class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('app_address_delete', {'id': add.id}) }}"
                       class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">
                    Aucun résultat
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
